<.header>
  New Incomes
  <:subtitle>Use this form to manage incomes records in your database.</:subtitle>
</.header>

<.incomes_form changeset={@changeset} action={~p"/incomes"} />

<.back navigate={~p"/incomes"}>Back to incomes</.back>
